<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level}|${message} ${exception:format=tostring}" />

		<!--実装環境を想定した「NLog.config」-->
		<!--ファイル(1日毎ローテーション、最大保持数7)-->
		<target
		  name="logfile"
		  xsi:type="File"
		  fileName="${processdir}/logs/log.txt"
		  encoding="UTF-8"
		  archiveFileName="C:\temp\Log.{#}.txt"
		  archiveNumbering="Date"
		  archiveDateFormat="yyyyMMdd"
		  maxArchiveFiles="7" />

	</targets>


	<rules>
		<logger name="*" minlevel="debug" writeTo="logfile" />
		<logger name="*" minlevel="debug" writeTo="console" />
	</rules>

</nlog>
